<div class="tnode-card">
  <div class="tnode-header" [style.backgroundColor]="'#e7f3ff'">
    <button type="button" (click)="toggleChildren()" class="toggle-btn">
      {{ inputNode.isopen ? 'v' : '>' }}
    </button>

    <div class="node-name-container" (click)="enableEditName()">
      <span *ngIf="!isEditingName" class="node-name">{{ inputNode.name }}</span>
      <input
        *ngIf="isEditingName"
        type="text"
        [(ngModel)]="inputNode.name"
        (keyup.enter)="saveName()"
        (blur)="saveName()"
        autofocus
        class="name-input"
      />
    </div>

    <button type="button" (click)="addChild()" class="add-child-btn">Add Child</button>
  </div>

  <div class="tnode-content" *ngIf="inputNode.isopen">
    <!-- If it has data, show text field -->
    <div *ngIf="inputNode.data !== undefined" class="tnode-data">
      <span class="data-label">Data: </span>
      <input type="text" [(ngModel)]="inputNode.data" class="data-input" />
    </div>

    <!-- If it has children, show them recursively -->
    <div *ngIf="inputNode.children && inputNode.children.length > 0" class="tnode-children">
      <div *ngFor="let child of inputNode.children" class="child-wrapper">
        <app-tnode [inputNode]="child"></app-tnode>
      </div>
    </div>
  </div>
</div>
